{% extends 'account/base.html' %}
{% block content %}
<h1>Mudar senha</h1>
<form method="post">
	{% csrf_token %}
	<div class="form-group">
		<label>Senha antiga</label>
		<input type="password" name="senhaAntiga" required>
	</div>
	<div class="form-group">
		<label>Senha nova</label>
		<input type="password" name="senhaNovo" required>
	</div>
	<div class="form-group">
		<label>Confirmar senha</label>
		<input type="password" name="confirmaSenha" required>
	</div>
	<div class="form-group">
		<input type="submit">
	</div>
	<!-- fazer verificação de senha em JS -->
</form>
<span>{{erro}}</span>
{% endblock %}