{% extends 'catalogo/base.html' %}
{% load static %}
{% block header %}Catalogos <a class="homeAnchor" href="{% url 'home' %}">Home</a>{% endblock %}
{% block content %}
<table border="1">
		<tr>
			<th>Nome</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	{% for catalogo in catalogos %}
		<tr>
				<td>{{ catalogo.nome }}</td>
				<td>
					<a href="{% url 'Catalogo:ver-catalogo' id=catalogo.id nome=catalogo.nome%}" class='btn btn-primary'>Ver</a>
				</td>
				<td>
					<a href="{% url 'Catalogo:edit-catalogo' nome=catalogo.nome %}" class='btn btn-primary'>Editar</a>
				</td>
				<td>
					<a href="{% url 'Catalogo:apagar-catalogo' nome=catalogo.nome %}" class='btn btn-danger'>Apagar</a>
				</td>
		</tr>
	{% empty %}
		<tr>
			<th colspan="6">
				Ainda não tem catalgos cadastrados
			</th>
		</tr>
	{% endfor %}
</table>
<a href="{% url 'Catalogo:add-catalogo' %}" class='btn btn-success'>Adicionar novo</a>
{% endblock %}